.s{
    width: 24px;
    height: 24px;
}
.m{
    width: 48px;
    height: 48px;
}
.l{
    width: 60px;
    height: 60px;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
