.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s {
  width: 24px;
  height: 24px;
}

.m {
  width: 48px;
  height: 48px;
}

.l {
  width: 60px;
  height: 60px;
}
