@import url('styles/variables.scss');
@import url('styles/colors.scss');
.wrapper {
  border-radius: 10px;
  &__input-disabled {
    background-color: var(--color-white);
    color: var(--color-gray-disabled);
    cursor: not-allowed;
  }
  &:focus-within {
    box-sizing: border-box;
    border: 1px solid var(--color-primary);
  }
}

input {
  &::placeholder {
    color: var(--color-gray);
  }
}

.input {
  border-radius: 1px !important;
  border-radius: 21px;
  outline: none;
  padding: 0 var(--spacing-m);
  padding-right: calc(var(--spacing-m) + 20px);
  &::placeholder {
    color: var(--color-gray);
  }
  &:disabled {
    background-color: var(--color-white);
    color: var(--color-gray);
    opacity: 0.6;
  }
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
