@use 'styles/variables';
@use 'styles/colors';
.wrapper {
  border-radius: 10px;
  &__input-disabled {
    background-color: colors.$color-white;
    color: colors.$color-gray-disabled;
    cursor: not-allowed;
  }
  &:focus-within {
    box-sizing: border-box;
    border: 1px solid colors.$color-primary;
  }
}

input {
  &::placeholder {
    color: colors.$color-gray;
  }
}

.input {
  border-radius: 1px !important;
  border-radius: 21px;
  outline: none;
  padding: 0 variables.$spacing-m;
  padding-right: calc(variables.$spacing-m + 20px);
  &::placeholder {
    color: colors.$color-gray;
  }
  &:disabled {
    background-color: colors.$color-white;
    color: colors.$color-gray;
    opacity: 0.6;
  }
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
