.recipe {
  position: relative !important;
  padding: 0 16px !important;
  margin: 0 auto;

  &__fonImage {
    position: absolute;
    top: 0px !important;
    right: 0px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    max-width: 1258px;
    margin: 0 auto;
    padding-top:48px;
    > img {
      width: 32px;
      height: 32px;
    }
  }
  &__body {
    margin: 0 auto;
    margin-top: 36px;
    max-width: 1240px;
  }
  &__desc {
    display: flex;
    align-items: center;
    gap: 160px;
     @media (max-width: 1024px) {
      display: grid;
      justify-content: center;
      margin: 0 auto;
      gap: 64px;
    }
    &_image {
             max-width: 100%;
        height: auto;
    display: block;
    }
   
    &_stats {  width: 100% !important;
      width: 463px;
      max-width: 463px;
      height: 146px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      row-gap: 50px;
    }
    &_stat {
      display: grid;
      justify-content: center;
      margin: 0 auto;
      gap: 8px;
      width: 83px;
      height: 48px;
      text-align: center;
    }
  }

  &__summary {
    padding: 36px;
    background-color: #b5460f54;
    margin-top: 48px;
  }

  &__stuff {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }
  &__equipment {
    padding-left: 53px;

    @media (max-width: 768px) {
      padding-left: 0; // на мобильных убираем отступ
    }
  }

  &__ingredients > div,
  &__equipment > div {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    > div {
      display: flex;
      gap: 16px;
      > img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__divider {
    display: flex;
    justify-content: center;
    align-items: stretch; // растянуть по высоте
    img {
      height: 100%; // чтобы вертикальная линия тянулась на всю высоту
    }
    @media (max-width: 768px) {
      display: none; // скрываем на мобильных
    }
  }

  &__directions{
    margin-top: 48px;;
        padding-bottom: 53px;;
  }
  &__steps{
    margin-top:24px;
    display: grid;
    gap:16px;

    > div{
        display: grid;
        gap:4px;
    }
  }
}
