@use 'styles/variables';
@use 'styles/colors';
.button {
  font-weight: 400;
  font-size: 18px;
  color: colors.$color-white;
  padding: 17px 20px;
  line-height: 18px;
  letter-spacing: 0%;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  height: 52px;
  align-items: center;
  background-color: colors.$color-primary;
  border: colors.$color-primary;

  cursor: pointer;
  font-family: 'Roboto', sans-serif;

  &:hover {
    background-color: colors.$color-primary-hover;
    border: colors.$color-primary-hover;
  }
}

.disabled {
  background-color: colors.$color-gray-light !important;
  border: colors.$color-gray-light !important;
}

.loading {
  background-color: colors.$color-loading !important;
  border: colors.$color-loading !important;
}
