@import url('../../styles/variables.css');
button{
font-weight: 400;
font-size: 18px;
color:white;
padding: 17px 20px;
line-height: 18px;
letter-spacing: 0%;;
border-radius: 10px;
display: flex;
gap:8px;
height: 52px;;
align-items: center;
 background-color: #B5460F;
 border: #B5460F ;

 cursor: pointer;
 font-family: 'Roboto', sans-serif;
}

.disabled{
   background-color: #D9D9D9 !important; 
 border: #D9D9D9 !important; ;
}

button:hover{
       background-color: #B5460FB2 ; 
 border:   #B5460FB2; ;
      
}

.loading{
    background-color: #518581 !important; 
 border: #518581 !important; ;
}