:root {
  --loader-bg: #B5460F;
  --button-primary-bg: #B5460F;
  --button-primary-text: #fff;
  --button-primary-bg-hover: #B5460FB2;
;
  --button-primary-text-hover: #fff;
  --button-primary-bg-disabled: #d9d9d9;
  --button-primary-text-disabled: #fff;
  --button-primary-bg-active: #872D01;
  --button-primary-text-active: #fff;
  --text-primary: #000;
  --text-secondary: #AFADB5;
  --text-accent: #B5460F;
  --input-text: #000;
  --input-bg: #fff;
  --input-placeholder: #AFADB5;
  --input-border: #fff;
  --input-bg-focus: #fff;
  --input-border-focus: #B5460F;
  --input-text-focus: #000;
  --input-bg-disabled: #fff;
  --input-border-disabled: #fff;
  --input-text-disabled: rgba(0, 0, 0, 0.2);
  --checkbox-bg: #fff;
  --checkbox-border: #fff;
  --checkbox-bg-hover: #fff;
  --checkbox-border-hover: #B5460F;
  --checkbox-bg-disabled: #FFFFFF80;
  --checkbox-border-disabled: #FFFFFF00;
  --checkbox-check: #B5460F;
  --checkbox-check-hover: #B5460F;
  --checkbox-check-disabled: rgba(0, 0, 0, 0.2);
  --card-image-bg: #FFFFFF99;
  --card-bg: #fff;
  --dropdown-options-bg: #fff;
  --spacing-s: 14px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xxs: 8px;
  --spacing-xl: 24px;
  --spacing-small: 7px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --transition-duration: 0.3s;
  --transition-easing: ease-in-out;
}