:root {
  --loader-bg: #b5460f;
  --button-primary-bg: #b5460f;
  --button-primary-text: #fff;
  --button-primary-bg-hover: #b5460fb2;
  --button-primary-text-hover: #fff;
  --button-primary-bg-disabled: #d9d9d9;
  --button-primary-text-disabled: #fff;
  --button-primary-bg-active: #872d01;
  --button-primary-text-active: #fff;
  --text-primary: #000;
  --text-secondary: #afadb5;
  --text-accent: #b5460f;
  --input-text: #000;
  --input-bg: #fff;
  --input-placeholder: #afadb5;
  --input-border: #fff;
  --input-bg-focus: #fff;
  --input-border-focus: #b5460f;
  --input-text-focus: #000;
  --input-bg-disabled: #fff;
  --input-border-disabled: #fff;
  --input-text-disabled: rgba(0, 0, 0, 0.2);
  --checkbox-bg: #fff;
  --checkbox-border: #fff;
  --checkbox-bg-hover: #fff;
  --checkbox-border-hover: #b5460f;
  --checkbox-bg-disabled: #ffffff80;
  --checkbox-border-disabled: #ffffff00;
  --checkbox-check: #b5460f;
  --checkbox-check-hover: #b5460f;
  --checkbox-check-disabled: rgba(0, 0, 0, 0.2);
  --card-image-bg: #ffffff99;
  --card-bg: #fff;
  --dropdown-options-bg: #fff;
  --spacing-s: 14px;
  --spacing-m: 16px;
  --spacing-l: 20px;
  --spacing-xxs: 8px;
  --spacing-xl: 24px;
  --spacing-small: 7px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --transition-duration: 0.3s;
  --transition-easing: ease-in-out;
}
