.card {
  display: flex;
  flex-direction: column;


  background-color: #ffff;

}

.card:hover {
   box-shadow: 0px 4px 10px 0px #00000040;
}

.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: normal;
}
.time_icon{
  width: 16px;
  height: 16px;
}
.card_time{
  display: flex;
  align-items: center;
}
.card-subtitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: normal;
}

.card-content {
  display: flex;
  flex-direction: column;

  padding: 0px var(--spacing-xs) 0px var(--spacing-xs);
  gap: var(--spacing-xxs);
  opacity: 0px;
  flex: 1;
}

.card-body { padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  width: 336px;

}

.card-button { padding-left: 12px;
  display: flex;
  justify-content: space-between;
  width: 336px;
  align-items: center;
}

.card-body{
padding-top:var(--spacing-large);
}
.card-image {
  background-color: #d9d9d9;
}

.card-footer{
  margin-top: auto;
   padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    padding-bottom: 24px;;

}

