@use 'styles/variables';
@use 'styles/colors';
.card {
  display: flex;
  flex-direction: column;

  background-color: colors.$color-white;
  &:hover {
    box-shadow: 0px 4px 10px 0px colors.$color-black-25;
  }
  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-wrap: normal;
  }
  &__time {
    display: flex;
    align-items: center;
  }
  &__subtitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-wrap: normal;
  }
  &__content {
    display: flex;
    flex-direction: column;

    gap: variables.$spacing-xxs;
    opacity: 0px;
    flex: 1;
  }
  &__body {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    width: 336px;
    padding-top: variables.$spacing-large;
  }
  &__button {
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    width: 336px;
    align-items: center;
  }
  &__image {
    background-color: colors.$color-gray-light;
  }
  &__footer {
    margin-top: auto;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
  }
}

.time {
  &__icon {
    width: 16px;
    height: 16px;
  }
}
