@import url('styles/variables.scss');
@import url('styles/colors.scss');
body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-22);
}
body {
  font-family: 'Roboto', sans-serif;
}
