.options {
  position: absolute;
  margin-top: 8px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.option {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  width: 100%;
  cursor: pointer;

  &:hover {
    .optionText {
      color: var(--text-secondary) !important;
    }
  }
}
